/**
 * Colors
 */
@titlebar-color: #DEDEDE;
@titlebar-gradient-bottom: #CACACA;
@selected-item-gradient-top: #bfbfbf;
@selected-item-gradient-bottom: #D0D0D0;
@sidebar: #E2E2E2;
@base-border-color: #CBCBCB;
@sidebar-item-color:rgba(35, 31, 32, 0.8);
/**
 * Borders
 */
@base-border-radius: 4px;
/**
*  Hack
* to get the sidebar selected item in the same level of unselected items
**/
@margin-hack:-100px;
@padding-hack:100px;
/**
*  Fix padding button padding issues
**/
@toolbar-btn-padding:5px;
@toolbar-btn-padding-bottom:26px;
